[Desktop Entry]
Type=Service
Name=PNG Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_png
MimeType=image/png
PreferredGroups=Comment,Technical
PreferredItems=Title,Author,Dimensions,BitDepth,ColorMode,Compression
