[Desktop Entry]
Type=Service
Name=KDED KMRML Daemon Watcher
Comment=Starts daemons on demand and restarts them on failure
X-TDE-ServiceTypes=KDEDModule
X-TDE-ModuleType=Library
X-TDE-Library=daemonwatcher
X-TDE-FactoryName=daemonwatcher
X-TDE-Kded-load-on-demand=true
