[Desktop Entry]
X-DocPath=kpovmodeler/index.html
Exec=kpovmodeler -caption "%c" %i %m %f
Icon=kpovmodeler
MimeType=application/x-kpovmodeler;
Name=KPovModeler
GenericName=Povray Modeler
Path=
X-TDE-ServiceTypes=KParts/ReadOnlyPart,KParts/ReadWritePart,Browser/View,KPovModeler/Document
Terminal=false
Type=Application
X-TDE-Library=libkpovmodelerpart
Categories=Qt;TDE;Graphics;
