[Desktop Entry]
Icon=effects
Type=Service
X-TDE-ServiceTypes=KPluginInfo

X-TDE-PluginInfo-Author=Matthias Kretz
X-TDE-PluginInfo-Email=kretz@kde.org
X-TDE-PluginInfo-Name=kvieweffects
X-TDE-PluginInfo-Version=0.1
X-TDE-PluginInfo-License=GPL
X-TDE-PluginInfo-EnabledByDefault=false

Name=Effects
Comment=Provides some image effects
