[Desktop Entry]
Icon=kpdf
Name=KPDF
MimeType=application/pdf
X-TDE-InitialPreference=7
X-TDE-ServiceTypes=KParts/ReadOnlyPart
X-TDE-Library=libkpdfpart
Type=Service
