[Desktop Entry]
Type=Service
Name=PCX File Meta Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_pcx
MimeType=image/x-pcx
PreferredGroups=General
PreferredItems=Dimensions,Resolution,BitDepth,Compression
