[Desktop Entry]
Icon=mypluginicon
Type=Service
X-TDE-ServiceTypes=KPluginInfo

X-TDE-PluginInfo-Author=Your Name
X-TDE-PluginInfo-Email=Your@address
X-TDE-PluginInfo-Name=kviewtemplate
X-TDE-PluginInfo-Version=0.1
X-TDE-PluginInfo-License=Public Domain
X-TDE-PluginInfo-EnabledByDefault=true

Name=Template
Comment=A longer description of what the plugin does
