[Desktop Entry]
Name=KGhostView
GenericName=PS/PDF Viewer
MimeType=application/pdf;application/postscript;image/x-eps;application/x-gzpostscript;application/illustrator;
X-TDE-InitialPreference=6
Exec=kghostview %u -caption "%c" %i %m
Icon=kghostview
Type=Application
X-DocPath=kghostview/index.html
Terminal=false
Categories=Qt;TDE;Graphics;
NoDisplay=true
