[Desktop Entry]
Name=KGhostView
MimeType=application/pdf;application/postscript;image/x-eps;application/x-gzpostscript;application/illustrator
X-TDE-InitialPreference=6
Icon=kghostview
X-TDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-TDE-Library=libkghostviewpart
Type=Service
