[Desktop Entry]
Type=Service
Name=GIF Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_gif
MimeType=image/gif
PreferredItems=Comment,Resolution
