[Desktop Entry]
GenericName=Screen Capture Program

Name=KSnapshot

Exec=ksnapshot -caption "%c" %i %m
Icon=ksnapshot
Type=Application
Terminal=false
X-DocPath=ksnapshot/index.html
X-TDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;TDE;Graphics;
