[Desktop Entry]
Icon=kview
Type=Service
X-TDE-ServiceTypes=TDECModule

X-TDE-ModuleType=Library
X-TDE-Library=kviewcanvasconfig
X-TDE-FactoryName=KViewCanvasConfigFactory
X-TDE-ParentApp=kview
X-TDE-ParentComponents=kviewcanvas
X-TDE-Weight=1
X-TDE-CfgDlgHierarchy=Viewer

Name=Viewer
Comment=General KViewCanvas Configuration
