[Desktop Entry]
Type=Service
Name=PostScript, PDF and DVI Files
X-TDE-ServiceTypes=ThumbCreator
MimeTypes=application/x-dvi,application/postscript,application/pdf,image/x-eps
X-TDE-Library=gsthumbnail
CacheThumbnail=true
