[Desktop Entry]
Type=Service
Name=PostScript Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_ps
MimeType=application/postscript;image/x-eps
PreferredItems=Title,Creator,CreationDate,For,Pages
