[Desktop Entry]
Type=Service
Name=PDF Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_pdf
MimeType=application/pdf
PreferredItems=Title,Subject,Author,Keywords,Creator,Producer,CreationDate,ModificationDate,Pages,Protected,Linearized,Version
