[Desktop Entry]
Name=Scale
Comment=Filter to scale the image
Type=Plugin

[X-TDE Plugin Info]
Author=Matthias Kretz
Email=kretz@kde.org
PluginName=kview_scale
Category=Filter
Version=0.1
