[Desktop Entry]
Type=Service
Name=PNM Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_pnm
MimeType=image/x-portable-bitmap;image/x-portable-greymap;image/x-portable-pixmap
PreferredGroups=General
PreferredItems=Format,Dimensions,BitDepth,Comment
