[Desktop Entry]
Type=Service
Name=KView Image Viewer Widget
X-TDE-Library=libkviewcanvas
X-TDE-InitialPreference=2
X-TDE-ServiceTypes=KImageViewer/Canvas
