[Desktop Entry]
Name=kdjview
Icon=kdjview
Type=Service
Comment=KViewShell plugin for DjVu files
X-TDE-ServiceTypes=KViewShell/MultiPage
X-TDE-MimeTypes=image/x-djvu
X-TDE-Library=djvuviewpart
X-TDE-MultiPageVersion=2
