[Desktop Entry]
GenericName=Photobook

MimeType=inode/directory
Icon=photobook
Name=Photobook
Comment=Easily browse a folder of photographs
X-TDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-TDE-Library=libphotobook
X-TDE-BrowserView-Args=DetailedList
X-DCOP-ServiceType=Multi
Type=Service
