[Desktop Entry]
Type=Service
Name=DirectDraw Surface Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_dds
MimeType=image/x-dds
PreferredGroups=Technical
PreferredItems=Dimensions,Depth,BitDepth,Type,ColorMode,Compression
