[Desktop Entry]
Type=ServiceType
X-TDE-ServiceType=KSVG/Renderer
X-TDE-Derived=
Comment=KSVG Rendering Backend

[PropertyDef::X-KSVG-InternalName]
Type=TQString
