[Desktop Entry]
Type=ServiceType
X-TDE-ServiceType=KImageViewer/Viewer
X-TDE-Derived=KParts/ReadWritePart
Icon=image-x-generic
Comment=Embeddable Image Viewer Component
