[Desktop Entry]
MimeType=image/fax-g3;image/tiff;
GenericName=Fax Viewer
Name=KFax
Exec=kfax %f   -caption "%c" %i %m
Icon=kfax
Path=
Type=Application
Terminal=false
X-TDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;TDE;Graphics;
X-DocPath=kfax/index.html
