[Desktop Entry]
Name=kfaxview_tiff
Icon=kfaxview
Type=Service
Comment=KViewShell plugin for fax files
X-TDE-ServiceTypes=KViewShell/MultiPage
X-TDE-MimeTypes=image/tiff
X-TDE-Library=kfaxviewpart
X-TDE-MultiPageVersion=2
