[Desktop Entry]
GenericName=Fax Viewer
Name=KFaxView
MimeType=image/fax-g3;
X-TDE-InitialPreference=6
Exec=kfaxview %f
Icon=kfaxview
Path=
Type=Application
Terminal=false
X-TDE-ServiceTypes=Browser/View
X-TDE-Library=kviewerpart
X-TDE-BrowserView-Args=fax
X-DocPath=kfaxview/index.html
X-TDE-StartupNotify=true
Categories=Qt;TDE;Graphics;
