[Desktop Entry]
Name=kfaxview
Icon=kfaxview
Type=Service
Comment=KViewShell plugin for fax files
X-TDE-ServiceTypes=KViewShell/MultiPage
X-TDE-MimeTypes=image/fax-g3
X-TDE-Library=kfaxviewpart
X-TDE-MultiPageVersion=2
