[Desktop Entry]
Type=Service
Name=RAW Camera Files
X-TDE-ServiceTypes=KFilePlugin
MimeType=image/x-raw
X-TDE-Library=tdefile_raw
CacheThumbnail=false
SupportsThumbnail=true
