[Desktop Entry]
Type=Service
Name=Truevision Targa Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_tga
MimeType=image/x-targa
PreferredGroups=Technical
PreferredItems=Dimensions,BitDepth,ColorMode,Compression
