[Desktop Entry]
GenericName=Screen Ruler
Name=KRuler
X-DocPath=kruler/index.html
MimeType=
Exec=kruler %i %m
Type=Application
Path=
Icon=kruler
Terminal=false
X-TDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;TDE;Graphics;
