[Desktop Entry]
Name=KSVGPlugin
Comment=Scalable Vector Graphics Viewer
Icon=image-svg+xml
MimeType=image/svg+xml;image/svg
Type=Service
X-TDE-ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-TDE-Library=libksvgplugin
X-TDE-InitialPreference=11
