[Desktop Entry]
Type=Service
Name=Scalable Vector Graphics
Icon=thumbnail
MimeTypes=image/svg+xml
X-TDE-Library=svgthumbnail
X-TDE-ServiceTypes=ThumbCreator
X-TDE-InitialPreference=5
CacheThumbnail=true
