[Desktop Entry]
Name=Digital Camera
Comment=Configure Kamera
Keywords=gphoto;camera;digicam;webcam;kamera;
Terminal=false
Type=Application
X-TDE-Library=kamera
X-TDE-ModuleType=Library
Icon=camera-photo
Exec=tdecmshell kamera
X-DocPath=kamera/index.html
Categories=Qt;TDE;Settings;X-TDE-settings-hardware;
OnlyShowIn=TDE;
