[Desktop Entry]
Type=Service
Name=XBM Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_xbm
MimeType=image/x-xbm
PreferredGroups=Technical
PreferredItems=Resolution
