[Desktop Entry]
Type=Service
X-TDE-ServiceTypes=KSVG/Renderer
X-TDE-Library=libksvgrendereragg
X-KSVG-InternalName=agg
Name=KSVG Rendering Backend - Anti Grain Geometry
Comment=New, unstable ksvg rendering backend
author=Rob Buis <buis@kde.org>
