[Desktop Entry]
Exec=tdecmshell kgamma
Icon=kgamma
X-DocPath=kgamma/index.html
Type=Application
X-TDE-Library=kgamma
X-TDE-Init=kgamma
X-TDE-ParentApp=kcontrol
X-TDE-FactoryName=kgamma
X-TDE-ModuleType=Library
X-TDE-Test-Module=true

Name=Gamma

Comment=A monitor calibration tool

Keywords=KGamma; kgamma; Gamma; gamma;
