[Desktop Entry]
Icon=
MimeType=application/x-dvi
Name=DVI Info
X-TDE-ServiceTypes=KFilePlugin
Type=Service
X-TDE-Library=tdefile_dvi
PreferredItems=Title,Author,Subject,Creator,Producer,CreationDate,ModDate,Keywords
