[Desktop Entry]
Type=Service
Name=XPM Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_xpm
MimeType=image/x-xpm
PreferredGroups=xpmInfo
PreferredItems=Dimension
