[Desktop Entry]
Type=Application
Exec=kcoloredit %i %m %U
Icon=kcoloredit
Path=
Terminal=false
X-DocPath=kcoloredit/index.html
GenericName=Color Palette Editor
Name=KColorEdit

X-DCOP-ServiceType=Multi
Categories=Qt;TDE;Graphics;
