[Desktop Entry]
Type=Application
Exec=kcolorchooser %i %m
Icon=kcolorchooser
Path=
Terminal=false
X-DocPath=kcoloredit/index.html
GenericName=Color Chooser
Name=KColorChooser

X-DCOP-ServiceType=Multi
Categories=Qt;TDE;Graphics;
