[Desktop Entry]
Type=Service
Name=JPEG EXIF Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_jpeg
MimeType=image/jpeg
PreferredItems=User comment,CreationDate,CreationTime,Dimensions,Exposure time,JPEG quality,Comment
SupportsThumbnail=true
