[Desktop Entry]
Type=Application
Exec=kview -caption "%c" %i %m %U
Icon=kview
Path=
X-DocPath=kview/index.html
Terminal=false
GenericName=Image Viewer
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/x-bmp;image/png;image/x-ico;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-greymap;image/tiff;image/jp2;
Name=KView
X-TDE-InitialPreference=3
X-TDE-StartupNotify=true
X-DCOP-ServiceType=Multi
Categories=Qt;TDE;Graphics;
