[Desktop Entry]
Icon=plugin
Type=Service
X-TDE-ServiceTypes=TDECModule

X-TDE-ModuleType=Library
X-TDE-Library=kviewviewerpluginsconfig
X-TDE-FactoryName=KViewViewerPluginsConfigFactory
X-TDE-ParentApp=kview
X-TDE-ParentComponents=kviewviewer
X-TDE-Weight=2
X-TDE-CfgDlgHierarchy=Viewer

Name=Plugins
Comment=Choose and Configure Your Plugins
