[Desktop Entry]
Type=Service
Name=EmptyMultiPage
X-TDE-ServiceTypes=KViewShell/MultiPage
X-TDE-Library=emptymultipagepart
X-TDE-EmptyMultiPage=1
X-TDE-MultiPageVersion=2
