[Desktop Entry]
Type=Service
X-TDE-ServiceType=KViewShell/MultiPage
Name=KViewShell MultiPage

[PropertyDef::X-TDE-MimeTypes]
Type=TQString

[PropertyDef::X-TDE-MultiPageVersion]
Type=int

[PropertyDef::X-TDE-EmptyMultiPage]
Type=int
