[Desktop Entry]
GenericName=Icon Editor
Name=TDEIconEdit
MimeType=image/x-xpm;image/x-ico;image/png;image/jpeg;
Exec=tdeiconedit -caption "%c" %i %m %u
Icon=tdeiconedit
Path=
X-DocPath=tdeiconedit/index.html
Type=Application
Terminal=false
X-DCOP-ServiceType=Multi
Categories=Qt;TDE;Graphics;
