[Desktop Entry]
Type=Service
Name=ICO Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_ico
MimeType=image/x-ico
PreferredGroups=Technical
PreferredItems=Number,Resolution,Colors,ResolutionM,ColorsM
