[Desktop Entry]
MimeType=application/pdf;
Terminal=false
Name=KPDF
GenericName=PDF Viewer
Exec=kpdf %U %i -caption "%c"
Icon=kpdf
Type=Application
X-DocPath=kpdf/index.html
X-TDE-InitialPreference=7
Categories=Qt;TDE;Office;Viewer;
