[Desktop Entry]
Type=Service
Exec=blahfoo
Name=MRML View
MimeType=text/mrml
X-TDE-ServiceTypes=KParts/ReadOnlyPart
X-TDE-Library=libkmrmlpart
#X-TDE-BrowserView-AllowAsDefault=true
#X-TDE-BrowserView-HideFromMenus=true
#X-TDE-BrowserView-Args=IconView
#X-TDE-BrowserView-ModeProperty=viewMode
#X-TDE-BrowserView-ModePropertyValue=IconView
Icon=view_icon
X-TDE-InitialPreference=10
