[Desktop Entry]
X-TDE-ServiceTypes=image/png,image/jpeg,image/gif,image/tiff,image/bmp,image/x-xpm,image/x-xbm,image/x-png
Actions=search;

[Desktop Action search]
Name=Search for Similar Images...
Icon=image-x-generic
Exec=mrmlsearch %U
