[Desktop Entry]
Comment=Multimedia Retrieval Markup Language Document
Icon=text-html
Type=MimeType
MimeType=text/mrml
Patterns=*.mrml;*.MRML;
X-TDE-AutoEmbed=true
