[Desktop Entry]
Type=Service
Comment=DVI
Name=KDVIMultiPage
X-TDE-ServiceTypes=KViewShell/MultiPage
X-TDE-Library=kdvipart
X-TDE-MimeTypes=application/x-dvi
X-TDE-MultiPageVersion=2
