[Desktop Entry]
GenericName=DVI Viewer
Name=KDVI
MimeType=application/x-dvi;application/x-gzdvi;application/x-bz2dvi;
X-TDE-InitialPreference=6
Exec=kdvi %f -caption "%c" %i %m
Icon=kdvi
Path=
Type=Application
Terminal=false
X-TDE-ServiceTypes=Browser/View
X-TDE-Library=kviewerpart
X-TDE-BrowserView-Args=dvi
X-DocPath=kdvi/index.html
X-TDE-StartupNotify=true
Categories=Qt;TDE;Graphics;
