[Desktop Entry]
Type=Service
X-TDE-ServiceTypes=KSVG/Renderer
X-TDE-Library=libksvgrendererlibart
X-KSVG-InternalName=libart
Name=KSVG Rendering Backend - Libart
Comment=Mature ksvg rendering backend
author=Nikolas Zimmermann <wildfox@kde.org>
