[Desktop Entry]
Type=Service
Name=BMP Info
X-TDE-ServiceTypes=KFilePlugin
X-TDE-Library=tdefile_bmp
MimeType=image/x-bmp
PreferredGroups=Technical
PreferredItems=Type,Resolution,Bitdepth,Compression
