[Desktop Entry]
Type=Service
Icon=kview
# Comment=TDE Image Viewer Part
# Comment[af]=Kde Beeld Aansig Deel
# Comment[ar]=عارض جزء الصور ل TDE
# Comment[br]=Perzh gweler skeudennoù TDE
# Comment[bs]=TDE Part - Preglednik slika
# Comment[ca]=Peça de TDE visualitzadora d'imatges
# Comment[cs]=Komponenta prohlížeče obrázků TDE
# Comment[cy]=Rhan Gwelydd Delweddau TDE 
# Comment[da]=TDE Billedviser-part
# Comment[de]=TDE Bildbetrachter-Komponente (KPart)
# Comment[el]=Part προβολέα εικόνων του TDE
# Comment[eo]=TDE-bildorigardilo parto
# Comment[es]=Parte de visor de imágenes de TDE
# Comment[et]=TDE pildifailide näitaja komponent
# Comment[eu]=TDE irudi ikustailearen zatia
# Comment[fa]=جزء مشاهده‌گر تصویر TDE
# Comment[fi]=TDE:n kuvannäyttökomponentti
# Comment[fr]=Composant d'affichage d'images de TDE
# Comment[gl]=Visor de imaxes integrado do TDE
# Comment[he]=רכיב מציג תמונות ל־TDE
# Comment[hi]=केडीई छवि प्रदर्शक पार्ट
# Comment[hr]=TDE komponenta za pregledavanje slika
# Comment[hu]=TDE képnézegető objektum
# Comment[is]=Myndbirtir TDE
# Comment[it]=Componente TDE per la visione di immagini
# Comment[ja]=TDE 画像ビューアパート
# Comment[kk]=TDE кескінді қарау құралының бөлшегі
# Comment[km]=ផ្នែក​របស់​កម្មវិធី​មើល​រូបភាព TDE
# Comment[lt]=TDE paveikslėlių žiūriklio dalis
# Comment[ms]=Bahagian Pemapar Imej TDE
# Comment[nb]=TDE-bildefremviserdel
# Comment[nds]=Bildkieker-Komponent för TDE
# Comment[ne]=TDE छवि दर्शक भाग
# Comment[nl]=TDE's weergavecomponent (Part) voor afbeeldingen
# Comment[nn]=Biletvisardel for TDE
# Comment[nso]=Seripa sa Molebeledi wa Ponagalo sa TDE
# Comment[pa]=TDE ਚਿੱਤਰ ਦਰਸ਼ਕ ਭਾਗ
# Comment[pl]=Składnik do przeglądarka obrazków TDE
# Comment[pt]=Componente de Visualização de Imagens do TDE
# Comment[pt_BR]=Parte do Visualizador de Imagens do TDE
# Comment[ro]=Componentă TDE de vizualizare imagini
# Comment[ru]=Компонент TDE просмотра изображений
# Comment[se]=TDE:a govvačájehanoassi
# Comment[sk]=Part TDE Prehliadač obrázkov
# Comment[sl]=Del pregledovalnika slik TDE
# Comment[sr]=TDE-ов део за приказивање слика
# Comment[sr@Latn]=TDE-ov deo za prikazivanje slika
# Comment[sv]=TDE:s bildvisningsdel
# Comment[ta]=கேடிஇ பகுதி பிம்பக் காட்சி
# Comment[tg]=Қисмати TDE-и намоиши тасвирот
# Comment[tr]=TDE Resim Göstericisi Kısmı
# Comment[uk]=Складова TDE переглядача зображень
# Comment[ven]=Tshipida tsha muvhoni wa tshifanyiso tsha TDE
# Comment[xh]=Iqhekeza Lombonisi Womfanekiso we TDE
# Comment[zh_CN]=TDE 图像查看器组件
# Comment[zh_HK]=TDE 圖像檢視器組件
# Comment[zh_TW]=TDE 影像檢視器組件
# Comment[zu]=Ingxenye Yombukisi Wesithombe se-TDE
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/x-bmp;image/png;image/x-ico;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-greymap;image/tiff;image/jp2
Name=KView Image Viewer
Name[ar]=عارض KView للصور
Name[br]=Gweler skeudennoù KView
Name[bs]=KView predglednik slika
Name[ca]=Visualitzador d'imatges KView
Name[cs]=Prohlížeč obrázků KView
Name[cy]=Celfigyn Gwelydd Delweddau KGweld
Name[da]=KView-billedfremviser
Name[de]=Bildbetrachter KView
Name[el]=Προβολέας εικόνων KView
Name[eo]=KView-Bildrigardilo
Name[es]=Visor de imágenes de KView
Name[et]=KView pildifailide näitaja
Name[eu]=KView irudi ikustailea
Name[fa]=مشاهده‌گر تصویر KView
Name[fi]=KView-kuvannäytin
Name[fr]=Visualisateur d'images KView
Name[gl]=Visor de imaxes KView
Name[he]=מציג תמונות KView
Name[hi]=के-व्यू छवि प्रदर्शक
Name[hu]=KView képnézegető
Name[is]=KView myndbirtirinn
Name[it]=Visore di immagini KView
Name[ja]=KView 画像ビューア
Name[kk]=KView кескінді қарау құралы
Name[km]=កម្មវិធី​មើល​រូបភាព KView
Name[lt]=KView paveikslėlių žiūryklė
Name[ms]=Pemapar Imej KView
Name[nb]=Bildeviseren KView
Name[nds]=Bildkieker KView
Name[ne]=केडीई दृश्य छवि दर्शक
Name[nl]=KView afbeeldingenweergave
Name[nn]=Biletvisaren KView
Name[pa]=KView ਚਿੱਤਰ ਦਰਸ਼ਕ
Name[pl]=Przeglądarka obrazków KView
Name[pt]=Visualizador de Imagens KView
Name[pt_BR]=Visualizador de Imagens do KVisualização
Name[ro]=Vizualizor imagini KView
Name[ru]=Программа просмотра изображений KView
Name[se]=KView govvačájeheaddji
Name[sk]=Prehliadač obrázkov KView
Name[sl]=Pregledovalnik slik KView
Name[sr]=KView, приказивач слика
Name[sr@Latn]=KView, prikazivač slika
Name[sv]=Kview bildvisning
Name[ta]=கேகாட்சி பிம்பக் காட்சி
Name[tg]=Барномаи намоиши тасвироти KView
Name[tr]=KView Resim Görüntüleyici
Name[uk]=Переглядач зображень KView
Name[wa]=KView Håyneu d' imådjes
Name[zh_CN]=KView 图像查看器
Name[zh_HK]=KView 圖像檢視器
Name[zh_TW]=KView 影像檢視器
ServiceTypes=KImageViewer/Viewer,KParts/ReadWritePart,Browser/View
InitialPreference=3
X-KDE-Library=libkviewviewer
