[Desktop Entry]
Type=Service
Icon=kview
# Comment=TDE Image Viewer Part
MimeType=image/gif;image/x-xpm;image/x-xbm;image/jpeg;image/x-bmp;image/png;image/x-ico;image/x-portable-bitmap;image/x-portable-pixmap;image/x-portable-greymap;image/tiff;image/jp2
Name=KView Image Viewer
X-TDE-ServiceTypes=KImageViewer/Viewer,KParts/ReadWritePart,Browser/View
X-TDE-InitialPreference=3
X-TDE-Library=libkviewviewer
