[Desktop Entry]
Icon=kpresenter
Type=Service
X-TDE-ServiceTypes=TDECModule

X-TDE-ModuleType=Library
X-TDE-Library=kviewpresenterconfig
X-TDE-FactoryName=KViewPresenterConfigFactory
X-TDE-ParentComponents=kviewpresenter

Name=Name
Comment=Comment
