[Desktop Entry]
Exec=tdecmshell kcmkmrml
Icon=folder_image
Type=Application

X-TDE-ModuleType=Library
X-TDE-Library=kmrml

Name=Image Index

Comment=Configuration for using the GNU Image Finding Tool

Keywords=Images;Search;Query;Find;Gift;kmrml;mrml;CBIR;

Categories=Qt;TDE;Settings;X-TDE-settings-system;
