[Desktop Entry]
Icon=kview
Type=Service
X-TDE-ServiceTypes=TDECModule

X-TDE-ModuleType=Library
X-TDE-Library=kviewgeneralconfig
X-TDE-FactoryName=KViewGeneralConfigFactory
X-TDE-ParentApp=kview
X-TDE-ParentComponents=kview
X-TDE-Weight=5
X-TDE-CfgDlgHierarchy=Application

Name=Application
Comment=Configuration for the standalone Version of KView
